<img src='http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/02070/opgs/edr/fcam/FLB_581260549EDR_F0701752FHAZ00341M_.JPG' alt='Girl in a jacket' width='500' height='600'>
<img src='http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/02070/opgs/edr/fcam/FLB_581260549EDR_F0701752FHAZ00341M_.JPG' alt='Girl in a jacket' width='500' height='600'>
<div class='text-center'></div>
